<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Brolga" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script>
      function updateTheme() {
        let browserTheme = null
        const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");
        if (darkThemeMq.matches) {
          browserTheme = "dark"
        } else {
          browserTheme = "light"
        }

        let theme = localStorage.getItem("theme")
        const chosenTheme = theme || browserTheme

        const classList = document.querySelector("html").classList
        const isLight = chosenTheme === "light"

        classList.toggle("dark", !isLight)
        classList.toggle("light", isLight)
      }
      updateTheme()
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-gray-light dark:bg-gray-900 antialiased text-[#333] dark:text-white">
    <div class="relative z-10 flex items-center justify-between">
      <%= if @current_user do %>
        <ul class="flex items-center gap-4 justify-start">
          <li>
            <.link
              href={~p"/admin/monitors"}
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Monitors
            </.link>
          </li>
          <li>
            <.link
              href={~p"/admin/dashboards"}
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Dashboards
            </.link>
          </li>
          <li>
            <.link
              href={~p"/admin/monitor-results"}
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Monitor results
            </.link>
          </li>
          <li>
            <.link
              href={~p"/admin/monitor-tags"}
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Monitor Tags
            </.link>
          </li>
        </ul>
        <ul class="flex items-center gap-4 justify-end">
          <li>
            <.color_scheme_preference />
          </li>
          <li class="text-[0.8125rem] leading-6 text-zinc-900 dark:text-zinc-100">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/admin/users/settings"}
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/admin/users/log_out"}
              method="delete"
              class={[
                "text-zinc-900 hover:text-zinc-700",
                "dark:text-zinc-100 dark:hover:text-zinc-300",
                "text-[0.8125rem] leading-6 font-semibold ml-4"
              ]}
            >
              Log out
            </.link>
          </li>
        </ul>
      <% end %>
    </div>
    <%= @inner_content %>
  </body>
</html>
