<.back navigate={~p"/admin/dashboards"}>Back to dashboards</.back>

<.header>
  New Dashboard
  <:subtitle>Use this form to manage dashboard records in your database.</:subtitle>
</.header>

<.dashboard_form changeset={@changeset} action={~p"/admin/dashboards"} />
