<.header>
  Edit Monitor <%= @monitor.name %>
  <:subtitle>Use this form to manage monitor records in your database.</:subtitle>
</.header>

<.monitor_form changeset={@changeset} tags={@tags} action={~p"/monitors/#{@monitor}"} />

<.back navigate={~p"/monitors"}>Back to monitors</.back>
